/out

/target
/dist/classpath
/dist/linux
/dist/mac
/dist/windows
/jdks

/dependency-reduced-pom.xml
/classpath.txt
/test-classpath.txt
/docpath.txt


*.log.*
.idea
*.iml
*.vsix
.DS_store
.vscode
/node_modules